<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
>
  <testsuites>
    <testsuite name="Drupal VM CLI Test Suite">
      <directory>./tests/</directory>
      <exclude>./tests/Command/Make</exclude>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
